//
// nextflow.config
//


// Choose profile on command line (standard == default):
//     nextflow run main.nf -profile podman


profiles {
    standard {
        docker.enabled = true
    }
}

process {
  cpus = 2               // Each task gets 2 CPUs and 4GB memory 
  memory = '4 GB'       
}

executor {
  cpus = 8               // Total number of CPUs Nextflow can use at once
}



//
// "variable" params (user should override)
//

params {
    help = false
    rawFiles = ''
    outputDirectory = 'results'

    msconvertArgs = ''

    msaccessAnalyses = [ '"-x spectrum_table"', 
                          '"-x image width=800 height=600"',
                          '"-x tic mz=420-421"',
                       ]
}

//
// "const" params (user will probably not want to override)
//

params {
    containerTags = [
        'pwiz':'proteowizard/pwiz-skyline-i-agree-to-the-vendor-licenses',
    ]
}


//
// Nextflow run reports
//

timeline {
    enabled = true
    file = "$params.outputDirectory/nextflow/timeline.html"
}

report {
    enabled = true
    file = "$params.outputDirectory/nextflow/report.html"
}

trace {
    enabled = true
    file = "$params.outputDirectory/nextflow/trace.txt"
}

trace.overwrite = true
report.overwrite = true
timeline.overwrite = true

dag {
    enabled = true
    file = "$params.outputDirectory/nextflow/dag.png"
}


